CodigoTPI.ipynb

Automatically generated by Colaboratory.

Original file is located at
    https://colab.research.google.com/drive/1UIesVt6cV9yNsWTFtFhKQFHZyuSZmwJO

# Inteligencia Artificial - Trabajo Práctico Integrador
**Integrantes**
- GETZEL, Martín
- LUCAS, Dania
- OCAMPO, Victoria
- ZAVALA, Alejo

**Bibliografía:**

- [Liu, B., & Mining, W. D. (2011). Web Data Mining. Exploring Hyperlinks, Contents, and Usage Data. Ser. Data-Centric Systems and Applications. Springer Berlin Heidelberg.](https://sirius.cs.put.poznan.pl/~inf89721/Seminarium/Web_Data_Mining__2nd_Edition__Exploring_Hyperlinks__Contents__and_Usage_Data.pdf)
- Apunte de teoría de la materia (Unidad 4 | Páginas finales)

In [46]:
import pandas as pd
df = pd.read_csv("data_cardiovascular_risk.csv", index_col="id", dtype={
    "age": "int64",
    "education": "float64",
    "sex": "string",
    "is_smoking": "string",
    "cigsPerDay": "float64",
    "BPMeds": "float64",
    "prevalentStroke": "int64",
    "prevalentHyp": "int64",
    "diabetes": "int64",
    "totChol": "float64",
    "sysBP": "float64",
    "diaBP": "float64",
    "BMI": "float64",
    "heartRate": "float64",
    "glucose": "float64",
    "TenYearCHD": "int"
})

In [48]:

df.head(5)

,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
id,,,,,,,,,,,,,,,,
0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0
2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1
4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0

In [11]:
df.shape #filas,columnas

(3390, 16)

In [14]:
df.isnull().sum() #nulos por columna

age                  0
education           87
sex                  0
is_smoking           0
cigsPerDay          22
BPMeds              44
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             38
sysBP                0
diaBP                0
BMI                 14
heartRate            1
glucose            304
TenYearCHD           0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3390 entries, 0 to 3389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              3390 non-null   int64
 1   education        3303 non-null   float64
 2   sex              3390 non-null   string
 3   is_smoking       3390 non-null   string
 4   cigsPerDay       3368 non-null   float64
 5   BPMeds           3346 non-null   float64
 6   prevalentStroke  3390 non-null   int64
 7   prevalentHyp     3390 non-null   int64
 8   diabetes         3390 non-null   int64
 9   totChol          3352 non-null   float64
 10  sysBP            3390 non-null   float64
 11  diaBP            3390 non-null   float64
 12  BMI              3376 non-null   float64
 13  heartRate        3389 non-null   float64
 14  glucose          3086 non-null   float64
 15  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(5), string(2)
memory usage: 450.2 KB

In [15]:
# Checking if columns have empty/non-valid values
for col in df.columns:
  print('-----------------------------------------')
  print(df[col].value_counts())

-----------------------------------------
age
40    148
42    145
41    144
46    140
39    139
44    135
48    134
45    131
43    127
38    119
52    118
55    116
50    115
53    114
51    114
47    108
54    107
49    104
57     97
58     95
60     95
63     93
59     93
56     92
61     87
62     80
64     75
36     75
37     73
65     43
67     33
66     30
35     29
34     16
68     14
69      5
33      4
70      2
32      1
Name: count, dtype: int64
-----------------------------------------
education
1.0    1391
2.0     990
3.0     549
4.0     373
Name: count, dtype: int64
-----------------------------------------
sex
F    1923
M    1467
Name: count, dtype: Int64
-----------------------------------------
is_smoking
NO     1703
YES    1687
Name: count, dtype: Int64
-----------------------------------------
cigsPerDay
0.0     1703
20.0     606
30.0     176
15.0     172
10.0     106
9.0      104
5.0      103
3.0       79
40.0      62
1.0       48
25.0      44
43.0      42
35.0      17
2.0       17
6.0       14
8.0       10
7.0        8
60.0       8
18.0       7
4.0        7
50.0       6
17.0       5
23.0       5
11.0       4
12.0       3
13.0       3
19.0       2
16.0       2
45.0       2
14.0       1
70.0       1
38.0       1
Name: count, dtype: int64
-----------------------------------------
BPMeds
0.0    3246
1.0     100
Name: count, dtype: int64
-----------------------------------------
prevalentStroke
0    3368
1      22
Name: count, dtype: int64
-----------------------------------------
prevalentHyp
0    2321
1    1069
Name: count, dtype: int64
-----------------------------------------
diabetes
0    3303
1      87
Name: count, dtype: int64
-----------------------------------------
totChol
240.0    65
210.0    51
220.0    48
260.0    46
232.0    45
         ..
137.0     1
113.0     1
392.0     1
353.0     1
364.0     1
Name: count, Length: 240, dtype: int64
-----------------------------------------
sysBP
110.0    87
120.0    85
130.0    85
125.0    69
115.0    68
         ..
214.0     1
188.5     1
230.0     1
169.5     1
85.5      1
Name: count, Length: 226, dtype: int64
-----------------------------------------
diaBP
80.0     213
82.0     123
70.0     109
85.0     107
90.0     100
        ...
48.0       1
60.5       1
129.0      1
115.5      1
51.0       1
Name: count, Length: 142, dtype: int64
-----------------------------------------
BMI
22.91    17
22.54    16
22.19    15
23.48    12
25.09    12
         ..
19.54     1
19.87     1
35.01     1
21.29     1
31.09     1
Name: count, Length: 1259, dtype: int64
-----------------------------------------
heartRate
75.0     442
80.0     298
70.0     241
85.0     191
72.0     184
        ...
47.0       1
143.0      1
51.0       1
140.0      1
97.0       1
Name: count, Length: 68, dtype: int64
-----------------------------------------
glucose
75.0     149
83.0     135
70.0     123
77.0     122
80.0     118
        ...
191.0      1
119.0      1
43.0       1
256.0      1
274.0      1
Name: count, Length: 132, dtype: int64
-----------------------------------------
TenYearCHD
0    2879
1     511
Name: count, dtype: int64

In [50]:
df['sex'] = df['sex'].map({'F': 1, 'M': 0})
df['is_smoking'] = df['is_smoking'].map({'YES': 1, 'NO': 0})
df.head(5)

,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
id,,,,,,,,,,,,,,,,
0,64,2.0,1,1,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
1,36,4.0,0,0,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0
2,46,1.0,1,1,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
3,50,1.0,0,1,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1
4,64,1.0,1,1,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0

In [49]:
df['BPMeds'] = int(df['BPMeds']) #ARREGLAR, PASAR A 0 Y 1
df.head(5)

TypeError: cannot convert the series to <class 'int'>